input[type="text"], textarea {
  display: block;
  margin-bottom: 16px;
  width: 400px;
}

select {
  margin-bottom: 16px;
}

textarea {
  resize: none;
}

label {
  margin-right: 8px;
}

.checkbox-wrapper {
  align-items: center;
  display: flex;
  line-height: 32px;
}